.header{
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    background-color: white;
    height: 61px;
    margin-bottom: 12px;
    padding-top: 10px;
}

.filter-row{
    gap: 25px;
    display: flex;
    padding-left: 25px;
    width: 100%;
}

.button-container {
    margin-left: auto;
    margin-right: 65px;
}

.add-btn{
    border-radius: 5px;
    width: 100px;
    background-color: #4E6CD7;
    color: white;
    border: none;
    padding: 8px;
}

.add-btn:hover{
    background-color: #6280ed;
}

::ng-deep .filter-field .mat-mdc-form-field-focus-overlay {
    background-color: lightgray !important;
}
  
::ng-deep .filter-field .mat-mdc-form-field .mdc-line-ripple {
    background-color: gray !important;  // The bottom line color
}

::ng-deep .filter-field .mdc-text-field {
    border: 1px solid rgb(209, 202, 202) !important;
    height: 40px !important;
    border-radius: 3px !important;
    background-color: white !important;
    align-items: center !important; // helps vertically center children
    padding: 0 10px !important;
}

.tableview {
    border-radius: 8px;
}

.custom-header-row {
    background-color: #7180b5;
    height: 50px;
}

.custom-header {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    border-spacing: 0;
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 6px; /* vertical gap between rows */
    background:white;
    margin-bottom: 0;
}

thead th {
    border: none;
}

tr {
    background-color: #fff;
    box-shadow: 0 0 0 1px #ccc; /* full border around row */
}

td, th {
    // padding: 10px; reduce td height
    border: none;
}

tr td:first-child {
    border-left: 1px solid #ccc;
}

tr td:last-child {
    border-right: 1px solid #ccc;
}


.status-pending {
    color: orange;
    font-weight: bold;
}
  
.status-confirmed {
color: green;
font-weight: bold;
}
  
.status-active {
color: blue;
font-weight: bold;
}
  
.status-default {
color: gray;
font-weight: normal;
}
  
::ng-deep .mat-mdc-select-placeholder{
    font-size: 14px !important;
    color: rgba(161, 151, 151, 0.891) !important;
}

.edit {
    color: #3f51b5;
}

.delete {
    color: #ca1429;
}

.save {
    color: green;
}

.warn {
     color: #ca1429;
}

/* Dropdown Styling */
.status-dropdown {
    width: 100%;
    padding: 4px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  /* Oval Status Badge */
  .status-badge {
    display: inline-block;
    padding: 4px 12px;
    border-radius: 20px;
    font-weight: bold;
    text-align: center;
    min-width: 80px;
  }
  
  /* Status Colors */
  .status-confirm {
    background-color: #4CAF50; /* Green */
    color: white;
  }
  
  .status-pending {
    background-color: #FF5722; /* Reddish */
    color: white;
  }
  
  .status-inprogress {
    background-color: #FFC107; /* Orange */
    color: black;
  }
  

  .table-container-scroll {
    flex: 1 1 auto;
    max-height: 400px; /* Define the scrollable height */
    overflow-y: auto;
    overflow-x: auto;
    // border: 1px solid #ccc;
    position: relative;
    scrollbar-color: #4763a4 #f1f1f1;
}
/* Chrome, Edge, Safari */
.table-container-scroll::-webkit-scrollbar {
    width: 8px;
}

.table-container-scroll::-webkit-scrollbar-thumb {
    background-color: #4763a4;
    border-radius: 10px;
    border: 2px solid #f1f1f1;
}

::ng-deep .mat-mdc-header-row {
    margin-top: 0 !important;
    padding-top: 0 !important;
    border-spacing: 0 !important;
}

thead {
    position: sticky !important;
    top: 0 !important;
    z-index: 10;
    background-color: #7180b5;
}

::ng-deep .mat-mdc-header-cell {
    position: sticky !important;
    top: 0;
    z-index: 1;
    background: #7180b5; /* or white */
    color: white;
    font-weight: 600;
    text-transform: uppercase;
}
    
/* Ensure the footer stays at the bottom */
.table-footer {
    position: sticky;
    bottom: 0;
    z-index: 1;
    background: rgb(249, 245, 245);
    border-top: 1px solid #ccc;
    padding-top: 4px;
    width: 100%;
}

.table-footer ::ng-deep .mdc-text-field--outlined {
    height: 39px !important;
    width: 70px !important;
}

::ng-deep .mat-mdc-paginator-container {
    min-height: 40px !important;
}

.no-data {
    font-size: 20px;
    color: red;
}