
.header{
    position: relative;
    font-family: 'Poppins', sans-serif !important;
    background-color: white;
    height: 61px;
    margin-bottom: 12px;
    padding-top: 10px;
}

.filter-row{
    gap: 25px;
    display: flex;
    padding-left: 25px;
    width: 100%;
}

.button-container {
    margin-left: auto;
    margin-right: 65px;
}

.add-btn{
    border-radius: 5px;
    width: 100px;
    background-color: #4E6CD7;
    color: white;
    border: none;
    padding: 8px;
}

.add-btn:hover{
    background-color: #6280ed;
}
  
::ng-deep .filter-field .mat-mdc-form-field-focus-overlay {
    background-color: lightgray !important;
}
  
::ng-deep .filter-field .mat-mdc-form-field .mdc-line-ripple {
    background-color: gray !important;  // The bottom line color
}

::ng-deep .filter-field .mdc-text-field {
    border: 1px solid rgb(209, 202, 202) !important;
    height: 40px !important;
    border-radius: 3px !important;
    background-color: white !important;
    align-items: center !important; 
    padding: 0 10px !important;
}

::ng-deep .mat-mdc-select-placeholder{
    font-size: 14px !important;
    color: rgba(161, 151, 151, 0.891) !important;
 }


 .tableview {
    border-radius: 8px;
}

.custom-header-row {
    background-color: #7180b5;
    height: 50px;
}

.custom-header {
    color: white;
    font-weight: 500;
    text-transform: uppercase;
    height: 50px;
    border-spacing: 0;
}
  
  /* Set height for cell contents */
  .mat-mdc-cell{
    height: 40px !important;
    padding-bottom: 0 !important;
    line-height: 33px !important;
  }
  

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 6px; 
    background:white !important;
    margin-bottom: 0;
}
  
thead th {
    border: none;
}

tr {
    background-color: #fff;
    box-shadow: 0 0 0 1px #ccc; 
}

td, th {
    border: none;
}

tr td:first-child {
    border-left: 1px solid #ccc;
}

tr td:last-child {
    border-right: 1px solid #ccc;
}

.mat-mdc-header-cell {
    text-align: center;
}

.mdc-data-table__cell {
    text-align: center;
}

.edit {
    color: #3f51b5;
}

.delete {
    color: #ca1429;
}
.save {
    color: green;
}

  
::ng-deep .table-striped > tbody > tr:nth-of-type(odd) > td {
    // background-color: white !important;
    --bs-table-bg-type: white !important;
}
  
  