<div class="leave-page">
    <div class="header"></div>
    <div class="title">
        <h2 mat-dialog-title>Leave Page?</h2>

        <button class="close" (click)="stay()">
            <img src="assets/images/close.png" alt="close button">
        </button>
    </div>


    <p class="title">
        Your Changes have not yet been saved.
    </p>

    <div class="buttons">
        <button mat-flat-button class="cancel-button" (click)="stay()">Cancel</button>
        <button mat-stroked-button class="leave-button" (click)="leave()">Leave Now</button>
    </div>
</div>